<div ng-controller="displaycontroller">
    <h1>Display Data</h1>
    <!--<div ui-grid="{ data: clientData }" class="grid1"></div>-->
    <div id="grid2" ui-grid="gridOptions" class="grid1"></div>
</div>
