<div ng-controller = "inputcontroller">

    <h1>Add Data</h1>
    <form name = "form1" novalidate>
        <p>
            <lable>Name:<br />
            <input type="text" name="clientname" ng-model = "client.name" required /> </lable>
            <span style="color:firebrick" ng-show = "form1.clientname.$dirty && form1.clientname.$invalid">
                <span ng-show = "form1.clientname.$error.required">Username is required.</span>
            </span>
        </p>

        <p>
            <lable>E-mail:<br />
                <input type="email" name="clientemail" ng-model = "client.email" required /> </lable>
            <span style="color:firebrick" ng-show = "form1.clientemail.$dirty && form1.clientemail.$invalid">
                <span ng-show = "form1.clientemail.$error.required">Email is required.</span>
                <span ng-show = "form1.clientemail.$error.email">Email address is invalid.</span>
            </span>
        </p>

        <p>
            <lable>Mobile:<br />
                <input type="tel" name="clientmobile" ng-model = "client.mobile" required /> </lable>
            <span style="color:firebrick" ng-show = "form1.clientmobile.$dirty && form1.clientmobile.$invalid">
                <span ng-show = "form1.clientmobile.$error.required">Mobile No. is required.</span>
                <span ng-show = "form1.clientmobile.$error.tel">Mobile No. is invalid.</span>
            </span>
        </p>

        <p>
            <input type="submit" ng-disabled = "form1.clientname.$dirty && form1.clientname.$invalid || form1.clientemail.$dirty &&
                form1.clientemail.$invalid || form1.clientmobile.$dirty && form1.clientmobile.$invalid"
                   ng-click="setDataToLocalStorage(client)">
        </p>
        <button ng-click="reset()">Reset</button>
    </form>

</div>